html {
    height: 100%;
    scroll-behavior: smooth;
}
img, object {
    max-width: 100%;
}
.app-page {
    display: grid;
    grid-template-areas: "header" "main";
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    &-header {
        grid-area: header;
        height: 56px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #DDDEE2;
        background-color: #FFFFFF;
    }
    &-main {
        grid-area: main;
        overflow: auto;
        padding: 25px 0 25px;
        
    }
    &--guest &-main {
        display: flex;
        align-items: center;
    }
}

.app-main-menu {
    display: flex;
    gap: 1.5rem;
    a {
        color: var(--font-color-primary);
        font-weight: 500;
        text-decoration: none;
        &.active {
            color: var(--color-primary);
        }
    }
}

.app-guest-form-paper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 12px;
    border: 1px solid var(--border-color-primary);
    padding: 40px 20px;
    min-height: 50vh;
}

.no-decoration {
    text-decoration: none;
}