html {
    height: 100%;
	font-size: var(--font-size-default);
    scroll-behavior: smooth;
}
body {
    font-family: var(--font-family-primary);
    line-height: var(--line-height-default);
    color: var(--font-color-dark-primary);
    height: 100%;
    background-color: var(--bg-color-light-primary);
}
.container-fluid {
    position: relative;
    padding-left: var(--main-padding);
    padding-right: var(--main-padding);
}
.main-container {
    max-width: var(--container-max-width-main);
}
.middle-container {
    max-width: var(--container-max-width-middle);
}

a {
    text-decoration: underline;
    color: var(--link-color);
    outline: none;
    text-underline-offset: 3px;
    &:hover {
        color: var(--link-color-hover);
    }
}
button,
input,
select,
textarea,
.input {
    outline: none !important;
    font-family: var(--font-family-primary);
    font-size: 1rem;
    font-weight: 400;
    color: var(--input-font-color);
}
textarea {
    resize: none;
}
img, object {
    max-width: 100%;
}
table {
    width: 100%;
    border-collapse: collapse;
    th,
    td {
        vertical-align: top;
        text-align: left;
        padding: 5px;
    }
}
.table-wrapper,
.scroll-block {
    overflow: auto;
}

