$images-src: '../images';

$mobile-360: 360px;
$mobile-480: 480px;
$mobile-575: 575.98px;
$mobile-640: 640px;
$mobile-768: 767.98px;
$mobile-992: 991.98px;

$desktop-1024: 1024px;
$desktop-1200: 1199.98px;
$desktop-1280: 1280px;
$desktop-1366: 1366px;
$desktop-1400: 1400px;

$portrait: ' and (orientation: portrait)';
$landscape: ' and (orientation: landscape)';

:root {
    --main-padding: 15px;
	
	--container-max-width-main: 1150px;
	--container-max-width-middle: 900px;
	
	@media all and (max-width: $mobile-992) {
		--font-size-default: 100%;
	}
}